@import url('https://fonts.googleapis.com/css2?family=Unna:wght@400;700&family=Inter:wght@400;600&display=swap');
@import url('../../src/ui/colors/styles.css');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* hero */
.hero-container {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: var(--background);
    color: var(--accent);
    width: 100%;
    height: 60vh;
    font-family: var(--font-heading);
    font-size: 3rem;
    text-align: center;
    clear: both;
}

/* content */
.main-content {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    border: 2px solid black;
    justify-content: center;
    color: black;
    width: 100%;
    height: 40%;
}

* {
    box-sizing: border-box;
}

.img-comp-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-comp-img {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.img-comp-img:first-child {
    position: relative;
}

.img-comp-img img {
    display: block;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    /*set the appearance of the slider:*/
    width: 40px;
    height: 40px;
    background-color: var(--accent);
    opacity: 1;
    border-radius: 50%;
}