:root {
    --primaryDark: #4A4C50;
    --primaryDark2: #222428;
    --background: #FFFFFF;
    --accent: #C9A653;
    --accent2: #D4AF37;
    --textColor: #333333;

    --font-heading: 'Unna', serif;
    --font-body: 'Inter', sans-serif;
}


body {
    margin: 0% 2%;
}


@media (max-width: 600px) {
    .nav-topbar {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        width: 100%;
        border: 2px solid red;
    }

    .brand {
        display: flex;
        justify-content: center;
    }

    #companyBrand {
        border: 2px solid orange;
        max-width: 20%;
        min-width: 10%;
    }
}



.nav-topbar-links {
    margin: 0%;
    border: 2px solid purple;
    padding: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: row;
    justify-content: center;
}

.nav-topbar-links a {
    white-space: nowrap;
    text-decoration: none;
    color: black;
    padding: 1%;
    border: 2px solid brown;
    margin: 2px;
    display: flex;
    font-family: var(--font-heading);
}

/* hero */
.hero-container {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
    border: 2px solid black;
    width: 100%;
    height: 40%;
    background-color: orange;
    color: white;
    font-weight: bolder;
    clear: both;
}

/* content */
.main-content {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    border: 2px solid black;
    justify-content: center;
    background-color: blue;
    color: white;
    width: 100%;
    height: 40%;
}

/* footer */
.footer {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
    border: 2px solid black;
    background-color: pink;
    color: white;
    width: 100%;
    height: 40%;
}