@import url(../colors/styles.css);

#topbar-container {
    top: 0;
    position: sticky;
    z-index: 9999;
}

.site-header {
    background-color: var(--background);
    border-bottom: 3px solid var(--accent);
    font-family: var(--font-body);
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.main-nav a img {
    padding-left: 25%;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn-quote {
    background-color: var(--accent);
    color: var(--background);
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
}

.hamburger-menu {
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--primaryDark);
    cursor: pointer;
    padding: 0 25px;
}

/* Hidden Links Dropdown */
.nav-links {
    display: none;
    /* Hidden by default */
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--background);
    text-align: center;
}

/* JS will add this class when the button is clicked! */
.nav-links.show-menu {
    display: block;
}

.nav-links li a {
    display: block;
    padding: 15px;
    color: var(--primaryDark);
    text-decoration: none;
    font-size: 1.1rem;
    border-top: 1px solid #eee;
    /* Light gray separator */
}

/* Active Page Indicator */
.topbar-link-item.active {
    color: var(--accent);
    font-weight: bold;
}